body {
    display: inline-block;
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}
#sdc-canvas {
    background: lightgray;
    height: 90%;
    margin: 2;
    border-color: red;
}
#controls{
  height: 10%;
}
#control-row {
  display: inline-block;
}